// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1299px)  {
    .checkout {
        margin-top: -10px;
    }
    
    .footer-down {
        margin: 0 -93px;
    }
    
    .footer-down h5 {
        margin-left: 285px;
    }
    
    .bascket-text {
        color: aliceblue;
    }
}