/*Html, Body*/
html, body {
    height: 100%;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto" sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

.col-md-12 {
    padding: 0;
}



#navbar {
    background-color: #fcb603;
}

#navbar i {
    color: #fff;
}

/*bascket*/

.bascket-text h2 {
    font-size: 30px;
    padding: 12px 0;
    font-weight: 700;
}

#bascket-item {
    background-color: #09bd66;
    padding: 4px;
    border-radius: 20px;
}

.item {
    background-color: #fff;
}

.price-one h5 {
    margin-top: 68px;
}

.qty {
    margin-top: 38px;
}


.total-price h3 {
    font-size: 20px;
    margin-left: 40px;
}

.total-price h3 {
    font-size: 20px;
    margin-left: 40px;
}

.price-no h3 {
    font-size: 20px;
    margin-left: 30px;
}

.checkout {
    position: inherit;
}

.checkout img {
    margin-left: 138px;
}

.checkout h6 {
    position: absolute;
    left: 147px;
    top: 1364px;
    right: 0;
    bottom: 0;
    color: #fff;
    
}

.shopping-continue {
    margin-bottom: 9px;
}

.shopping-continue a {
    color: #08d19f;
}

/*contact*/

#contact {
    background: #bab6b6;
}

.contact-form {
    margin-bottom: 48px;
}

.contact-form i{
    font-size: 20px;
}

.contact-form p{
    margin-bottom: 0;
}

.contact-form input{
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form a {
    background: #807878;
    padding: 5px 35px;
    color: 
}

.apply-btn {
    color: aliceblue;
    font-size: 15px
}


/*Footer*/

#footer {
    background: #18c98e;
}

.left-link ul {
    list-style: none;
}

.left-link ul li {
    margin-left: 1px;
}


.left-link ul li a {
     margin: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-left: 2px;
}

.right-link ul {
    list-style: none;
}

.right-link ul li a {
    margin: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
    color: #fff;
}

.footer-down {
    background: #cbd4d1;
}

.footer-down p {
    padding-top: 10px;
}

.footer-down h5 {
    background-color: #3ae8b4;
    font-size: 10px;
    float: left;
    margin-top: 5px;
}

.footer-down h4 {
    background-color: #3ae8b4;
    font-size: 20px;
    margin: 0;
}


/* ========= Checkout Page ========== */
.step-text ul {
    float: left;
}

.step-text ul li{
    list-style: none;
    font-size: 13px;
    margin-left: -15px;
    padding: 0px 9px;
}

.details h5{
    font-size: 15px;
    text-align: center;  
}

.details p {
    font-size: 13px;
    text-align: center
}

.details strong{
    color: aqua;
}

.details-image ul li input{
    width: 30px;
    height: 30px
}

.details-image ul{
    list-style: none;
    float: left;
    margin-left: 5px;
    align-items: center
}

.details-mail p {
    font-size: 15px;
    padding-top: 64px;
}

.details-mail h5 {
    color: #de7e1f;
    padding-bottom: 20px;
}

/*form css*/

.email-form {
    background: #d4d1c9;
    padding-bottom: 15px;
    border-radius: 10% 10% 2% 2%;
    
}

.form-head p {
    font-weight: 600;
    margin-left: 25px;
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}

.checkout-one h6 {
    overflow: hidden
    
}


.presonal-data {
    background: #d4d1c9;
    margin-top: 50px;
    padding-bottom: 15px;
    border-radius: 5% 5% 2% 2%;
}

.form-body select{
    width: 100px;
    
}

.name {
    width: 200px;
    float: right;
}


.address {
    background: #d4d1c9;
    margin-top: 50px;
    padding-bottom: 15px;
    border-radius: 5% 5% 2% 2%;
}

#your-busket {
    background: #1fde7f;
    border-radius: 4%
}

.your-basket-head {
    padding-left: 10;
    margin: 10;
}

.your-basket-head h5{
    float: left;
}
.your-basket-head i{
    padding-left: 50% 
}


.your-basket-all {
    background: #fff;
    margin: 2px;
}

.your-basket-body {
    background: #fff;
    padding: 10px;
}

.view-bas {
    background: #36d1a5;
    padding: 10px
}

.view-bas h3{
    font-size: 20px;
    color: #fff;
}

.view-bas-icon i {
    color: #fff;
    font-size: 30px;
    text-align: right;
    
}

.footer-des {
    padding: 15px 5px 0 0;
}

.mobile {
    background: #e08e12;
    
}

.mobile h5{
    font-size: 10px;
    float: left;
}

.mobile h4 {
    font-size: 15px;
    margin: 0;
}








































































